@charset 'utf-8';

$ds-layout-container-width: 100%;

@import '../design-system/design-system';
@import
    'components/atoms/index',
    'components/molecules/index',
    'components/organisms/index';

html {
    font-family: $ds-typography-font-primary;
}

body {
    background-color: $ds-colors-alabaster;
}

.l-container {
    padding: 0;
    display: flex;
}