.m-dropdown {
    .a-btn {
        display: flex;
        align-items: center;
    }
    svg {
        @include ds-spacing-em(ml, half);
        transform: scale(1.25);
        fill: $ds-colors-white;
        width: 1em;
        height: 1em;
    }
}