.m-card-list-item {
    &:not(:last-of-type) {
        border-bottom: ds-px-to-em(1) solid $ds-colors-gallery;
    }
    @include ds-spacing-em((px, py), one);
    margin-bottom: 0;
    svg {
        width: ds-px-to-em(12);
    }
}

.m-card-list-item__left {
    max-width: 75%;
    position: relative;
}

.m-card-list-item,
.m-card-list-item__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-card-list-item__titles {
    @include ds-spacing-em(ml, two);
}

.m-card-list-item__title {
    margin-bottom: 0;
    word-break: break-word;
}

.m-card-list-item__dot {
    @include ds-spacing-em(mr, half);
    position: absolute;
    width: ds-px-to-em(14);
    height: ds-px-to-em(14);
    display: inline-block;
    border-radius: 100%;
}