.m-card-list-item {
    &:not(:last-of-type) {
        box-shadow: 0 ds-px-to-em(1) $ds-colors-gallery;
    }
    svg {
        width: ds-px-to-em(12);
    }
    @include ds-spacing-em((px, py), one);
    margin-bottom: 0;
    border-left: ds-px-to-em(5) solid;
}

.m-card-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-card-list-item__titles {
    margin-right: auto;
    max-width: 60%;
}

.m-card-list-item__title {
    @include ds-spacing-em(mb, quarter);
    word-break: break-word;
}

.m-card-list-item__subtitle {
    color: $ds-colors-pantone-cool-gray-4;
    margin-bottom: 0;
}