.m-event-log-list-item {
    margin-bottom: 0;
    &:not(:last-child) {
        @include ds-spacing-em(mb, one);
    }
    @include ds-spacing-em(pl, two);
    position: relative;
}

.m-event-log-list-item--checkpoint,
.m-event-log-list-item__timestamp {
    font-weight: 700;
    color: $ds-colors-pantone-cool-gray-4;
}

.m-event-log-list-item--checkpoint {
    &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $ds-colors-gallery;
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
    }
    span {
        background-color: $ds-colors-white;
        padding: ds-px-to-em(6) ds-px-to-em(6) ds-px-to-em(6) 0;
        margin-left: -#{ds-px-to-em(12)};
    }
    padding-left: 0;
}

.m-event-log-list-item__timestamp {
    @include ds-spacing-em(mb, one);
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $ds-colors-white;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border: 4px solid;
        border-color: inherit;
        box-shadow: 0 0 0 6px $ds-colors-white;
    }
}

.m-event-log-list-item__title {
    @include ds-spacing-em(mb, quarter);
    word-break: break-all;
}

.m-event-log-list-item__subtitle {
    margin-bottom: 0;
}