.m-event-log-list-item {
    &:first-of-type {
        @include ds-spacing-em(mt, two);
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    &::after {
        @include ds-breakpoint(lg) {
            height: ds-vr-em(2, $ds-typography-ratio-lg);
        }
        content: '';
        display: block;
        height: ds-vr-em(2);
    }
    @include ds-spacing-em(pl, two);
    @include ds-spacing-em(pr, one);
    position: relative;
}

.m-event-log-list-item--checkpoint,
.m-event-log-list-item__timestamp {
    font-weight: 700;
    color: $ds-colors-pantone-cool-gray-4;
}

.m-event-log-list-item--checkpoint {
    &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $ds-colors-gallery;
        position: absolute;
        z-index: -1;
        top: 50%;
    }
    span {
        background-color: $ds-colors-white;
        padding: ds-px-to-em(6) ds-px-to-em(6) ds-px-to-em(6) 0;
    }
    padding-left: 0;
}

.m-event-log-list-item__timestamp {
    @include ds-spacing-em(mb, half);
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $ds-colors-white;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border: 4px solid;
        border-color: inherit;
        box-shadow: 0 0 0 6px $ds-colors-white;
    }
}

.m-event-log-list-item__titles {
    &:hover {
        background-color: $ds-colors-gallery;
        border-radius: ds-px-to-em(6);
        cursor: pointer;
    }
    @include ds-spacing-em(p, one);
    @include ds-spacing-em(ml, one, $is-important: false, $is-negative: true);
}

.m-event-log-list-item__title {
    @include ds-spacing-em(mb, quarter);
    word-break: break-all;
    display: inline-block;
}

.m-event-log-list-item__subtitle {
    margin-bottom: 0;
}