//-------------------------
//
// Common > Variables > Btn
//-------------------------

$ds-btn-colors-map: (
    default: $ds-colors-neutral-black,
    primary: $ds-colors-pantone-306,
    danger: $ds-colors-valencia,
    success: $ds-colors-eucalyptus
);