//---------------------------
//
// Common > Variables > Colors
//
// Use http://chir.ag/projects/name-that-color/ to determine the variable name
// that corresponds to the color.
//---------------------------

$ds-colors-black: #000 !default;
$ds-colors-white: #fff !default;
$ds-colors-neutral-black: #3d3d3f !default;
$ds-colors-pantone-cool-gray-1: #dfe0de !default;
$ds-colors-pantone-cool-gray-4: #b9b7b9 !default;
$ds-colors-gallery: #efefef !default;
$ds-colors-alabaster: #fbfbfd !default;
$ds-colors-pantone-306: #1db3e7 !default;
$ds-colors-teal-blue: #005c79 !default;