.a-badge {
    @include ds-spacing-em(py, half);
    @include ds-spacing-em(px, one);
    border-radius: ds-px-to-em(32);
    color: $ds-colors-white;
    display: inline-block;
}

.a-badge--heavy {
    font-weight: 700;
}

.a-badge--small {
    font-size: ds-px-to-rem(12);
}

.a-badge--large {
    font-size: ds-px-to-rem(20);
}

@each $button-name, $button-color in $ds-btn-colors-map {
    .a-badge--#{$button-name} {
        &.a-badge--outline {
            background-color: transparent;
            border: ds-px-to-em(1) solid $button-color;
            color: $button-color;
        }
        background-color: $button-color;
    }
}