/**
* Set up a decent box model on the root element
*/
html {
  box-sizing: border-box;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: 100%;
  line-height: 1.1;
}
@media (min-width: 62.5rem) {
  html {
    font-size: 112.5%;
    line-height: 1.3;
  }
}

h1,
.h1 {
  font-size: 2.14358881rem;
  margin-bottom: 0.275rem;
}
@media (min-width: 31.25rem) {
  h1,
.h1 {
    font-size: calc(2.14358881rem + 0.71251119 * (100vw - 31.25rem) / 31.25);
  }
}
@media (min-width: 62.5rem) {
  h1,
.h1 {
    font-size: 2.8561rem;
  }
}
@media (min-width: 62.5rem) {
  h1,
.h1 {
    margin-bottom: 1.3rem;
  }
}

h2,
.h2 {
  font-size: 1.771561rem;
}
@media (min-width: 31.25rem) {
  h2,
.h2 {
    font-size: calc(1.771561rem + 0.425439 * (100vw - 31.25rem) / 31.25);
  }
}
@media (min-width: 62.5rem) {
  h2,
.h2 {
    font-size: 2.197rem;
  }
}

h3,
.h3 {
  font-size: 1.4641rem;
}
@media (min-width: 31.25rem) {
  h3,
.h3 {
    font-size: calc(1.4641rem + 0.2259 * (100vw - 31.25rem) / 31.25);
  }
}
@media (min-width: 62.5rem) {
  h3,
.h3 {
    font-size: 1.69rem;
  }
}

h4, .color__name,
.h4 {
  font-size: 1.21rem;
}
@media (min-width: 31.25rem) {
  h4, .color__name,
.h4 {
    font-size: calc(1.21rem + 0.09 * (100vw - 31.25rem) / 31.25);
  }
}
@media (min-width: 62.5rem) {
  h4, .color__name,
.h4 {
    font-size: 1.3rem;
  }
}

h1, h2, h3, h4, .color__name,
.h1, .h2, .h3, .h4 {
  margin-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  h1, h2, h3, h4, .color__name,
.h1, .h2, .h3, .h4 {
    margin-bottom: 1.3rem;
  }
}

p {
  margin-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  p {
    margin-bottom: 1.3rem;
  }
}

/**
* Hide text while making it readable for screen readers
* 1. Needed in WebKit-based browsers because of an implementation bug;
*    See: https://code.google.com/p/chromium/issues/detail?id=457146
*/
.u-visibility-hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.u-visability-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-font-light {
  font-weight: 300;
}

.u-font-normal {
  font-weight: 400;
}

.u-font-heavy {
  font-weight: 700;
}

.u-font-primary {
  font-family: "Source Sans Pro", sans-serif;
}

.u-m-zero {
  margin: 0rem;
}
@media (min-width: 62.5rem) {
  .u-m-zero {
    margin: 0rem;
  }
}

.u-m-quarter {
  margin: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-m-quarter {
    margin: 0.325rem;
  }
}

.u-m-half {
  margin: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-m-half {
    margin: 0.65rem;
  }
}

.u-m-three-fourths {
  margin: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-m-three-fourths {
    margin: 0.975rem;
  }
}

.u-m-one {
  margin: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-m-one {
    margin: 1.3rem;
  }
}

.u-m-two {
  margin: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-m-two {
    margin: 2.6rem;
  }
}

.u-m-three {
  margin: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-m-three {
    margin: 3.9rem;
  }
}

.u-mx-zero {
  margin-left: 0rem;
  margin-right: 0rem;
}
@media (min-width: 62.5rem) {
  .u-mx-zero {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.u-mx-quarter {
  margin-left: 0.275rem;
  margin-right: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-mx-quarter {
    margin-left: 0.325rem;
    margin-right: 0.325rem;
  }
}

.u-mx-half {
  margin-left: 0.55rem;
  margin-right: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-mx-half {
    margin-left: 0.65rem;
    margin-right: 0.65rem;
  }
}

.u-mx-three-fourths {
  margin-left: 0.825rem;
  margin-right: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-mx-three-fourths {
    margin-left: 0.975rem;
    margin-right: 0.975rem;
  }
}

.u-mx-one {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-mx-one {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
}

.u-mx-two {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-mx-two {
    margin-left: 2.6rem;
    margin-right: 2.6rem;
  }
}

.u-mx-three {
  margin-left: 3.3rem;
  margin-right: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-mx-three {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
  }
}

.u-my-zero {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
@media (min-width: 62.5rem) {
  .u-my-zero {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

.u-my-quarter {
  margin-top: 0.275rem;
  margin-bottom: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-my-quarter {
    margin-top: 0.325rem;
    margin-bottom: 0.325rem;
  }
}

.u-my-half {
  margin-top: 0.55rem;
  margin-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-my-half {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
  }
}

.u-my-three-fourths {
  margin-top: 0.825rem;
  margin-bottom: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-my-three-fourths {
    margin-top: 0.975rem;
    margin-bottom: 0.975rem;
  }
}

.u-my-one {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-my-one {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }
}

.u-my-two {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-my-two {
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
  }
}

.u-my-three {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-my-three {
    margin-top: 3.9rem;
    margin-bottom: 3.9rem;
  }
}

.u-mt-zero {
  margin-top: 0rem;
}
@media (min-width: 62.5rem) {
  .u-mt-zero {
    margin-top: 0rem;
  }
}

.u-mt-quarter {
  margin-top: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-mt-quarter {
    margin-top: 0.325rem;
  }
}

.u-mt-half {
  margin-top: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-mt-half {
    margin-top: 0.65rem;
  }
}

.u-mt-three-fourths {
  margin-top: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-mt-three-fourths {
    margin-top: 0.975rem;
  }
}

.u-mt-one {
  margin-top: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-mt-one {
    margin-top: 1.3rem;
  }
}

.u-mt-two {
  margin-top: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-mt-two {
    margin-top: 2.6rem;
  }
}

.u-mt-three {
  margin-top: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-mt-three {
    margin-top: 3.9rem;
  }
}

.u-mr-zero {
  margin-right: 0rem;
}
@media (min-width: 62.5rem) {
  .u-mr-zero {
    margin-right: 0rem;
  }
}

.u-mr-quarter {
  margin-right: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-mr-quarter {
    margin-right: 0.325rem;
  }
}

.u-mr-half {
  margin-right: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-mr-half {
    margin-right: 0.65rem;
  }
}

.u-mr-three-fourths {
  margin-right: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-mr-three-fourths {
    margin-right: 0.975rem;
  }
}

.u-mr-one {
  margin-right: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-mr-one {
    margin-right: 1.3rem;
  }
}

.u-mr-two {
  margin-right: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-mr-two {
    margin-right: 2.6rem;
  }
}

.u-mr-three {
  margin-right: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-mr-three {
    margin-right: 3.9rem;
  }
}

.u-mb-zero {
  margin-bottom: 0rem;
}
@media (min-width: 62.5rem) {
  .u-mb-zero {
    margin-bottom: 0rem;
  }
}

.u-mb-quarter {
  margin-bottom: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-mb-quarter {
    margin-bottom: 0.325rem;
  }
}

.u-mb-half {
  margin-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-mb-half {
    margin-bottom: 0.65rem;
  }
}

.u-mb-three-fourths {
  margin-bottom: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-mb-three-fourths {
    margin-bottom: 0.975rem;
  }
}

.u-mb-one {
  margin-bottom: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-mb-one {
    margin-bottom: 1.3rem;
  }
}

.u-mb-two {
  margin-bottom: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-mb-two {
    margin-bottom: 2.6rem;
  }
}

.u-mb-three {
  margin-bottom: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-mb-three {
    margin-bottom: 3.9rem;
  }
}

.u-ml-zero {
  margin-left: 0rem;
}
@media (min-width: 62.5rem) {
  .u-ml-zero {
    margin-left: 0rem;
  }
}

.u-ml-quarter {
  margin-left: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-ml-quarter {
    margin-left: 0.325rem;
  }
}

.u-ml-half {
  margin-left: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-ml-half {
    margin-left: 0.65rem;
  }
}

.u-ml-three-fourths {
  margin-left: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-ml-three-fourths {
    margin-left: 0.975rem;
  }
}

.u-ml-one {
  margin-left: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-ml-one {
    margin-left: 1.3rem;
  }
}

.u-ml-two {
  margin-left: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-ml-two {
    margin-left: 2.6rem;
  }
}

.u-ml-three {
  margin-left: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-ml-three {
    margin-left: 3.9rem;
  }
}

.u-p-zero {
  padding: 0rem;
}
@media (min-width: 62.5rem) {
  .u-p-zero {
    padding: 0rem;
  }
}

.u-p-quarter {
  padding: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-p-quarter {
    padding: 0.325rem;
  }
}

.u-p-half {
  padding: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-p-half {
    padding: 0.65rem;
  }
}

.u-p-three-fourths {
  padding: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-p-three-fourths {
    padding: 0.975rem;
  }
}

.u-p-one {
  padding: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-p-one {
    padding: 1.3rem;
  }
}

.u-p-two {
  padding: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-p-two {
    padding: 2.6rem;
  }
}

.u-p-three {
  padding: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-p-three {
    padding: 3.9rem;
  }
}

.u-px-zero {
  padding-left: 0rem;
  padding-right: 0rem;
}
@media (min-width: 62.5rem) {
  .u-px-zero {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.u-px-quarter {
  padding-left: 0.275rem;
  padding-right: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-px-quarter {
    padding-left: 0.325rem;
    padding-right: 0.325rem;
  }
}

.u-px-half {
  padding-left: 0.55rem;
  padding-right: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-px-half {
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }
}

.u-px-three-fourths {
  padding-left: 0.825rem;
  padding-right: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-px-three-fourths {
    padding-left: 0.975rem;
    padding-right: 0.975rem;
  }
}

.u-px-one {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-px-one {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

.u-px-two {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-px-two {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

.u-px-three {
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-px-three {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
}

.u-py-zero {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 62.5rem) {
  .u-py-zero {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.u-py-quarter {
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-py-quarter {
    padding-top: 0.325rem;
    padding-bottom: 0.325rem;
  }
}

.u-py-half {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-py-half {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }
}

.u-py-three-fourths {
  padding-top: 0.825rem;
  padding-bottom: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-py-three-fourths {
    padding-top: 0.975rem;
    padding-bottom: 0.975rem;
  }
}

.u-py-one {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-py-one {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}

.u-py-two {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-py-two {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
}

.u-py-three {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-py-three {
    padding-top: 3.9rem;
    padding-bottom: 3.9rem;
  }
}

.u-pt-zero {
  padding-top: 0rem;
}
@media (min-width: 62.5rem) {
  .u-pt-zero {
    padding-top: 0rem;
  }
}

.u-pt-quarter {
  padding-top: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-pt-quarter {
    padding-top: 0.325rem;
  }
}

.u-pt-half {
  padding-top: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-pt-half {
    padding-top: 0.65rem;
  }
}

.u-pt-three-fourths {
  padding-top: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-pt-three-fourths {
    padding-top: 0.975rem;
  }
}

.u-pt-one {
  padding-top: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-pt-one {
    padding-top: 1.3rem;
  }
}

.u-pt-two {
  padding-top: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-pt-two {
    padding-top: 2.6rem;
  }
}

.u-pt-three {
  padding-top: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-pt-three {
    padding-top: 3.9rem;
  }
}

.u-pr-zero {
  padding-right: 0rem;
}
@media (min-width: 62.5rem) {
  .u-pr-zero {
    padding-right: 0rem;
  }
}

.u-pr-quarter {
  padding-right: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-pr-quarter {
    padding-right: 0.325rem;
  }
}

.u-pr-half {
  padding-right: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-pr-half {
    padding-right: 0.65rem;
  }
}

.u-pr-three-fourths {
  padding-right: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-pr-three-fourths {
    padding-right: 0.975rem;
  }
}

.u-pr-one {
  padding-right: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-pr-one {
    padding-right: 1.3rem;
  }
}

.u-pr-two {
  padding-right: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-pr-two {
    padding-right: 2.6rem;
  }
}

.u-pr-three {
  padding-right: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-pr-three {
    padding-right: 3.9rem;
  }
}

.u-pb-zero {
  paddin-bottom: 0rem;
}
@media (min-width: 62.5rem) {
  .u-pb-zero {
    paddin-bottom: 0rem;
  }
}

.u-pb-quarter {
  paddin-bottom: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-pb-quarter {
    paddin-bottom: 0.325rem;
  }
}

.u-pb-half {
  paddin-bottom: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-pb-half {
    paddin-bottom: 0.65rem;
  }
}

.u-pb-three-fourths {
  paddin-bottom: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-pb-three-fourths {
    paddin-bottom: 0.975rem;
  }
}

.u-pb-one {
  paddin-bottom: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-pb-one {
    paddin-bottom: 1.3rem;
  }
}

.u-pb-two {
  paddin-bottom: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-pb-two {
    paddin-bottom: 2.6rem;
  }
}

.u-pb-three {
  paddin-bottom: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-pb-three {
    paddin-bottom: 3.9rem;
  }
}

.u-pl-zero {
  padding-left: 0rem;
}
@media (min-width: 62.5rem) {
  .u-pl-zero {
    padding-left: 0rem;
  }
}

.u-pl-quarter {
  padding-left: 0.275rem;
}
@media (min-width: 62.5rem) {
  .u-pl-quarter {
    padding-left: 0.325rem;
  }
}

.u-pl-half {
  padding-left: 0.55rem;
}
@media (min-width: 62.5rem) {
  .u-pl-half {
    padding-left: 0.65rem;
  }
}

.u-pl-three-fourths {
  padding-left: 0.825rem;
}
@media (min-width: 62.5rem) {
  .u-pl-three-fourths {
    padding-left: 0.975rem;
  }
}

.u-pl-one {
  padding-left: 1.1rem;
}
@media (min-width: 62.5rem) {
  .u-pl-one {
    padding-left: 1.3rem;
  }
}

.u-pl-two {
  padding-left: 2.2rem;
}
@media (min-width: 62.5rem) {
  .u-pl-two {
    padding-left: 2.6rem;
  }
}

.u-pl-three {
  padding-left: 3.3rem;
}
@media (min-width: 62.5rem) {
  .u-pl-three {
    padding-left: 3.9rem;
  }
}

.l-container {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  width: 960px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 62.5rem) {
  .l-container {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

.l-row {
  margin-left: -1.1rem;
  margin-right: -1.1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 62.5rem) {
  .l-row {
    margin-left: -1.3rem;
    margin-right: -1.3rem;
  }
}

.l-col {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
@media (min-width: 62.5rem) {
  .l-col {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

@media (min-width: 0rem) {
  .l-col--xs-first {
    order: -1;
  }

  .l-col--xs-last {
    order: 1;
  }

  .l-col--xs-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-col--xs-valign {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .l-col--xs-halign {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .l-col--xs-lalign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .l-col--xs-ralign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .l-col--xs-1-of-12 {
    flex: 1 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .l-col--xs-offset-1-of-12 {
    margin-left: 8.3333333333%;
  }

  .l-col--xs-2-of-12 {
    flex: 1 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .l-col--xs-offset-2-of-12 {
    margin-left: 16.6666666667%;
  }

  .l-col--xs-3-of-12 {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .l-col--xs-offset-3-of-12 {
    margin-left: 25%;
  }

  .l-col--xs-4-of-12 {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .l-col--xs-offset-4-of-12 {
    margin-left: 33.3333333333%;
  }

  .l-col--xs-5-of-12 {
    flex: 1 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .l-col--xs-offset-5-of-12 {
    margin-left: 41.6666666667%;
  }

  .l-col--xs-6-of-12 {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .l-col--xs-offset-6-of-12 {
    margin-left: 50%;
  }

  .l-col--xs-7-of-12 {
    flex: 1 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .l-col--xs-offset-7-of-12 {
    margin-left: 58.3333333333%;
  }

  .l-col--xs-8-of-12 {
    flex: 1 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .l-col--xs-offset-8-of-12 {
    margin-left: 66.6666666667%;
  }

  .l-col--xs-9-of-12 {
    flex: 1 0 75%;
    max-width: 75%;
  }

  .l-col--xs-offset-9-of-12 {
    margin-left: 75%;
  }

  .l-col--xs-10-of-12 {
    flex: 1 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .l-col--xs-offset-10-of-12 {
    margin-left: 83.3333333333%;
  }

  .l-col--xs-11-of-12 {
    flex: 1 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .l-col--xs-offset-11-of-12 {
    margin-left: 91.6666666667%;
  }

  .l-col--xs-12-of-12 {
    margin-bottom: 1.1rem;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 0rem) and (min-width: 62.5rem) {
  .l-col--xs-12-of-12 {
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 0rem) {
  .l-col--xs-offset-12-of-12 {
    margin-left: 100%;
  }
}
@media (min-width: 31.25rem) {
  .l-col--sm-first {
    order: -1;
  }

  .l-col--sm-last {
    order: 1;
  }

  .l-col--sm-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-col--sm-valign {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .l-col--sm-halign {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .l-col--sm-lalign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .l-col--sm-ralign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .l-col--sm-1-of-12 {
    flex: 1 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .l-col--sm-offset-1-of-12 {
    margin-left: 8.3333333333%;
  }

  .l-col--sm-2-of-12 {
    flex: 1 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .l-col--sm-offset-2-of-12 {
    margin-left: 16.6666666667%;
  }

  .l-col--sm-3-of-12 {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .l-col--sm-offset-3-of-12 {
    margin-left: 25%;
  }

  .l-col--sm-4-of-12 {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .l-col--sm-offset-4-of-12 {
    margin-left: 33.3333333333%;
  }

  .l-col--sm-5-of-12 {
    flex: 1 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .l-col--sm-offset-5-of-12 {
    margin-left: 41.6666666667%;
  }

  .l-col--sm-6-of-12 {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .l-col--sm-offset-6-of-12 {
    margin-left: 50%;
  }

  .l-col--sm-7-of-12 {
    flex: 1 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .l-col--sm-offset-7-of-12 {
    margin-left: 58.3333333333%;
  }

  .l-col--sm-8-of-12 {
    flex: 1 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .l-col--sm-offset-8-of-12 {
    margin-left: 66.6666666667%;
  }

  .l-col--sm-9-of-12 {
    flex: 1 0 75%;
    max-width: 75%;
  }

  .l-col--sm-offset-9-of-12 {
    margin-left: 75%;
  }

  .l-col--sm-10-of-12 {
    flex: 1 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .l-col--sm-offset-10-of-12 {
    margin-left: 83.3333333333%;
  }

  .l-col--sm-11-of-12 {
    flex: 1 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .l-col--sm-offset-11-of-12 {
    margin-left: 91.6666666667%;
  }

  .l-col--sm-12-of-12 {
    margin-bottom: 1.1rem;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 31.25rem) and (min-width: 62.5rem) {
  .l-col--sm-12-of-12 {
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 31.25rem) {
  .l-col--sm-offset-12-of-12 {
    margin-left: 100%;
  }
}
@media (min-width: 48rem) {
  .l-col--md-first {
    order: -1;
  }

  .l-col--md-last {
    order: 1;
  }

  .l-col--md-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-col--md-valign {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .l-col--md-halign {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .l-col--md-lalign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .l-col--md-ralign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .l-col--md-1-of-12 {
    flex: 1 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .l-col--md-offset-1-of-12 {
    margin-left: 8.3333333333%;
  }

  .l-col--md-2-of-12 {
    flex: 1 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .l-col--md-offset-2-of-12 {
    margin-left: 16.6666666667%;
  }

  .l-col--md-3-of-12 {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .l-col--md-offset-3-of-12 {
    margin-left: 25%;
  }

  .l-col--md-4-of-12 {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .l-col--md-offset-4-of-12 {
    margin-left: 33.3333333333%;
  }

  .l-col--md-5-of-12 {
    flex: 1 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .l-col--md-offset-5-of-12 {
    margin-left: 41.6666666667%;
  }

  .l-col--md-6-of-12 {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .l-col--md-offset-6-of-12 {
    margin-left: 50%;
  }

  .l-col--md-7-of-12 {
    flex: 1 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .l-col--md-offset-7-of-12 {
    margin-left: 58.3333333333%;
  }

  .l-col--md-8-of-12 {
    flex: 1 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .l-col--md-offset-8-of-12 {
    margin-left: 66.6666666667%;
  }

  .l-col--md-9-of-12 {
    flex: 1 0 75%;
    max-width: 75%;
  }

  .l-col--md-offset-9-of-12 {
    margin-left: 75%;
  }

  .l-col--md-10-of-12 {
    flex: 1 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .l-col--md-offset-10-of-12 {
    margin-left: 83.3333333333%;
  }

  .l-col--md-11-of-12 {
    flex: 1 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .l-col--md-offset-11-of-12 {
    margin-left: 91.6666666667%;
  }

  .l-col--md-12-of-12 {
    margin-bottom: 1.1rem;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 48rem) and (min-width: 62.5rem) {
  .l-col--md-12-of-12 {
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 48rem) {
  .l-col--md-offset-12-of-12 {
    margin-left: 100%;
  }
}
@media (min-width: 62.5rem) {
  .l-col--lg-first {
    order: -1;
  }

  .l-col--lg-last {
    order: 1;
  }

  .l-col--lg-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l-col--lg-valign {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .l-col--lg-halign {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .l-col--lg-lalign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .l-col--lg-ralign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .l-col--lg-1-of-12 {
    flex: 1 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .l-col--lg-offset-1-of-12 {
    margin-left: 8.3333333333%;
  }

  .l-col--lg-2-of-12 {
    flex: 1 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .l-col--lg-offset-2-of-12 {
    margin-left: 16.6666666667%;
  }

  .l-col--lg-3-of-12 {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .l-col--lg-offset-3-of-12 {
    margin-left: 25%;
  }

  .l-col--lg-4-of-12 {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .l-col--lg-offset-4-of-12 {
    margin-left: 33.3333333333%;
  }

  .l-col--lg-5-of-12 {
    flex: 1 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .l-col--lg-offset-5-of-12 {
    margin-left: 41.6666666667%;
  }

  .l-col--lg-6-of-12 {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .l-col--lg-offset-6-of-12 {
    margin-left: 50%;
  }

  .l-col--lg-7-of-12 {
    flex: 1 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .l-col--lg-offset-7-of-12 {
    margin-left: 58.3333333333%;
  }

  .l-col--lg-8-of-12 {
    flex: 1 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .l-col--lg-offset-8-of-12 {
    margin-left: 66.6666666667%;
  }

  .l-col--lg-9-of-12 {
    flex: 1 0 75%;
    max-width: 75%;
  }

  .l-col--lg-offset-9-of-12 {
    margin-left: 75%;
  }

  .l-col--lg-10-of-12 {
    flex: 1 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .l-col--lg-offset-10-of-12 {
    margin-left: 83.3333333333%;
  }

  .l-col--lg-11-of-12 {
    flex: 1 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .l-col--lg-offset-11-of-12 {
    margin-left: 91.6666666667%;
  }

  .l-col--lg-12-of-12 {
    margin-bottom: 1.1rem;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 62.5rem) and (min-width: 62.5rem) {
  .l-col--lg-12-of-12 {
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 62.5rem) {
  .l-col--lg-offset-12-of-12 {
    margin-left: 100%;
  }
}
.o-card {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #efefef;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

.o-card__header {
  padding: 1.1rem;
  border-bottom: 2px solid #efefef;
}
@media (min-width: 62.5rem) {
  .o-card__header {
    padding: 1.3rem;
  }
}

.o-card__title {
  font-size: 1.21rem;
}
@media (min-width: 31.25rem) {
  .o-card__title {
    font-size: calc(1.21rem + 0.09 * (100vw - 31.25rem) / 31.25);
  }
}
@media (min-width: 62.5rem) {
  .o-card__title {
    font-size: 1.3rem;
  }
}

.o-card__subtitle {
  margin-bottom: 0;
}

.o-card__body {
  padding: 1.1rem;
}
@media (min-width: 62.5rem) {
  .o-card__body {
    padding: 1.3rem;
  }
}
.o-card__body p {
  margin-bottom: 0;
}

html {
  font-family: "Helvetica Neue", sans-serif;
}

body.guides {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% 17.6px;
}
@media (min-width: 62.5rem) {
  body.guides {
    background-size: 100% 23.4px;
  }
}

header {
  border-bottom: 1px solid #ddd;
}

.section {
  margin-bottom: 1.1rem;
}
@media (min-width: 62.5rem) {
  .section {
    margin-bottom: 1.3rem;
  }
}

.section.card .section__inner {
  padding: 0.55em;
  background-color: #fbfbfd;
}
@media (min-width: 62.5rem) {
  .section.card .section__inner {
    padding: 1.3em;
  }
}

.section__title {
  margin-bottom: 2.2rem;
}
@media (min-width: 62.5rem) {
  .section__title {
    margin-bottom: 2.6rem;
  }
}

.color {
  border-radius: 0.275em;
  padding: 0.55em;
  margin-bottom: 1.1rem;
  color: #fff;
}
@media (min-width: 62.5rem) {
  .color {
    border-radius: 0.325em;
  }
}
@media (min-width: 62.5rem) {
  .color {
    padding: 1.3em;
  }
}
@media (min-width: 62.5rem) {
  .color {
    margin-bottom: 2.6rem;
  }
}

.color__name {
  margin-bottom: 0.275rem;
  display: block;
}
@media (min-width: 62.5rem) {
  .color__name {
    margin-bottom: 0.325rem;
  }
}

/*# sourceMappingURL=design-system.css.map */
