@charset 'utf-8';

$ds-layout-container-width: 100%;

@import 'design-system/design-system';

html {
    font-family: $ds-typography-font-primary;
}

body {
    background-color: $ds-colors-alabaster;
}

.l-container {
    // @include ds-spacing-em(p, two);
}

aside {
    @include ds-spacing-em((pt, pb, pl), two);
    border-left: ds-px-to-em(1) solid $ds-colors-gallery;
    width: 100%;
    height: 100vh;
    position: fixed;
}
