@charset 'utf-8';

@import 'design-system/design-system';

html {
    font-family: 'Helvetica Neue', sans-serif;
    --color-dusty-gray: #999;
    --color-alto: #ddd; 
    --color-seashell: #f1f1f1;
    --color-white: #fff;
    --color-mineshaft: #2b2b2b;
    --color-buttermilk: #fff5b1;
    --color-galliano: #dbab09;
}

code {
    @include ds-spacing-rem(p, quarter);
    font-size: ds-px-to-rem(12);
    font-family: "Lucida Console", Monaco, monospace;
    background-color: var(--color-buttermilk);
    color: var(--color-galliano);
    border-radius: 4px;
}

body.guides {
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
    background-repeat: repeat;
    background-position: left top;
    background-size: 100% #{($ds-typography-font-size-xs / 100 * 16) * $ds-typography-ratio-xs + "px"};
    @include ds-breakpoint(lg) {
        background-size: 100% #{($ds-typography-font-size-lg / 100 * 16) * $ds-typography-ratio-lg + "px"};
    }
}

header {
    @include ds-spacing-rem(mb, three);
    @include ds-spacing-rem(pt, one);
    @include ds-spacing-rem(pb, three);
    background-color: var(--color-seashell);
}

.section {
    @include ds-spacing-rem(mb, one);
}

.section__title {
    @include ds-spacing-rem(pb, half);
    @include ds-spacing-rem(mb, one);
    border-bottom: 1px solid var(--color-alto);
}

.section__subtitle {
    @include ds-spacing-rem(mt, two);
}

.card-bg {
    @include ds-spacing-em(p, three);
    background-color: $ds-colors-alabaster;
}

.color {
    &::before {
        content: '';
        width: 64px;
        height: 64px;
        border-radius: 100%;
    }
    @include ds-spacing-rem(mb, one);
    display: flex;
    align-items: center;
}

.color__titles {
    @include ds-spacing-rem(ml, one);
}

.color__name {
    font-size: ds-px-to-rem(16);
    display: block;
}

.color__hex {
    font-size: ds-px-to-rem(14);
    color: var(--color-dusty-gray);
}

.color--neutral-black::before {
    background-color: $ds-colors-neutral-black;
}

.color--pantone-cool-gray-1::before {
    background-color: $ds-colors-pantone-cool-gray-1;
}

.color--pantone-cool-gray-4::before {
    background-color: $ds-colors-pantone-cool-gray-4;
}

.color--gallery::before {
    background-color: $ds-colors-gallery;
}

.color--alabaster::before {
    background-color: $ds-colors-alabaster;
}

.color--pantone-306::before {
    background-color: $ds-colors-pantone-306;
}

.color--teal-blue::before {
    background-color: $ds-colors-teal-blue;
}

.color--valencia::before {
    background-color: $ds-colors-valencia;
}

.color--cosmos::before {
    background-color: $ds-colors-cosmos;
}

.color--eucalyptus::before {
    background-color: $ds-colors-eucalyptus;
}

.color--snowy-mint::before {
    background-color: $ds-colors-snowy-mint;
}